<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <%-include ('templates/header.ejs')%>  
        <table>
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Descripción</th>
                    <th>Stock</th>
                    <th>Valor</th>
                    <th>Stock Mínimo</th>
                </tr>
            </thead>
            <tbody>
                <% data.forEach(product => { %>
                    <tr>
                        <td><%= product.code %></td>
                        <td><%= product.description %></td>
                        <td><%= product.stock %></td>
                        <td><%= product.value %></td>
                        <td><%= product['stock-min'] %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>

    </div>

    <script src="../public/index.js"></script>
</body>
</html>